<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<div class="container text-center">
<h1>Pass Generator</h1>
<h2>This is the new homepage from templates</h2>
The new password is {{ password }}
<br/>
<form action="{% url 'password' %}">
    <select name=length>
        {% for num in numbers %}
        <option value="{{ num }}">{{ num }}</option>
        {% endfor %}
    </select> length
    <br/>
    <input type="checkbox" name="uppercase">Uppercase
    <br/>
    <input type="checkbox" name="numbers">Numbers
    <br/>
    <input type="checkbox" name="specials">Special Characters
    <br/>
    <input type="submit" value="Generate Password" class="btn btn-primary"> 
</form>

<p>
{% for dogname in dogsname %}
    {{ dogname }}
{% endfor %}
</p>

<p>
{% for num in numbers %}
    {{ num }}
{% endfor %}
</p>
</div>

#<a href="{% url 'about' %}">About</a> 